*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    height:100vh;
    display: grid;
    grid-gap:  10px;
    /* Especificar posicion de las areas */
    grid-template-areas:
    "header"
    "contenido"
    "izquierda"
    "derecha"
    "footer";
  
} 

main > * {
    display: flex;
    justify-content:center;
    align-items: center;
    background:purple;
    color: #fff;
    font-family: sans-serif;
}

/* resposive */

@media (min-width: 500px){
    main{
        grid-template-areas:
        "header header derecha"
        "izquierda contenido derecha"
        "izquierda footer derecha"  ;
        /* tambien se pueden combinar con los 
        grid-template-columns y grid-template-rows */
        grid-template-columns: 1fr 2fr 1fr ;
        grid-template-rows:  1fr 6fr 1fr
    }
}

/* Nombrar las areas */

header{
    grid-area:header;
}
aside:first-of-type{
    grid-area:izquierda; 
}
article{
    grid-area:contenido; 
}
aside:last-of-type{
    grid-area:derecha; 
}
footer{
    grid-area:footer; 
}






 