*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 1fr es la unidad fraccionar
es una fraccion del  grid context 
aprovecha el espacio disponible despues que se 
organizan las demas filas o culumnas*/
main{
    height:100vh;
    display: grid;
    grid-gap:  10px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr  2fr 1fr 
}
  


main > *{
    display: flex;
    justify-content:center;
    align-items: center;
    background:purple;
    color: #fff;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px){
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 500px){
    main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
    }
}


 