main{
    height:100vh;
    display: grid;
    grid-gap: 20px;
    /*Para indindicar las colunas que se quiere se pone*/
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}


div{
    display: flex;
    justify-content:center;
    align-items: center;
    background: goldenrod;
}

div:nth-child(10){
    background: purple;
    /* grid-column-start para especificar donde inicia
    el grid-items segun los gridline de las columnas*/

    /* grid-column-start: 2; */
    /* grid-column-end: 5; grid-line en la cual finaliza */
    /* forma acortada */
    grid-column: 3 / 5; /*inicio-line / final-line*/
}

div:nth-child(6){
    background: purple;
    grid-column: 2 / 3;
    grid-row: 2 / 4; /*span 2 quiere decir que esa row se espanda 2 grid cell*/

}